<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="smoke" thread-count="1" parallel="classes" >
    <test name="dev">
        <classes>
          <class name="com.happyreturns.test.tests.RestAssuredTests"></class>
<!--           <class name="com.happyreturns.test.tests.SeleniumTests"></class>-->
        </classes>
    </test>
</suite>
